* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_wrapper {
  width: 60%;
  margin: 50px auto;
  text-align: center;
  background-color: red;
}

.lista_giorni {
  list-style: none;
}

#prev, #next {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}
